body {
  background-color: #85b3f8;
  color: white;
  text-align: center; }

header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.filtro {
  text-align: center; }

.filtro__caja {
  width: 300px;
  border: solid 3px black;
  border-radius: 20px;
  background-color: whitesmoke; }

.filtro__caja::placeholder {
  color: black;
  text-align: center;
  font: bolder; }

.filtro__boton {
  width: 100px;
  margin-top: 5px;
  border: solid 3px black;
  border-radius: 20px;
  color: white;
  background-color: #2f88d1; }

.cuadro {
  width: 350px;
  margin-top: 10px;
  color: white; }

.linea {
  background-color: #2f88d1;
  color: white;
  padding: 5px;
  border-radius: 20px;
  border: solid 3px black; }

.lineaTurnos {
  background-color: #4984c7;
  border-radius: 20px;
  border: solid 3px black;
  margin: 5px;
  padding: 5px; }

.botonReserva {
  border-radius: 20px; }

.col__dias {
  margin-top: 8px; }

.botones {
  background-color: #2f88d1;
  width: 150px;
  border-radius: 20px;
  border: solid 3px black;
  color: white;
  padding: 5px;
  margin-top: 15px; }
